.content{
  padding: 10px;
  overflow: hidden;
  border: 1px solid #5e5e5e;
}

iframe{
  width: 100%;
  height: 100%;
  border: 1px dashed #5e5e5e;
}
.btn{
  padding: 5px;
  border-radius: 4px;
  background: #8bc34a;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}
